.about {
  padding-top: 99px;
  padding-bottom: 50px;
}

.about__title {
  margin-bottom: 45px;
}

.about__block {
  display: flex;
  position: relative;
}

.about__block-img {
  margin-right: 80px;
}

.about__img {
  width: 600px;
  height: auto;
}

.about__txt-2 {
  display: none;
}

.about__author {
  display: flex;
  justify-content: flex-end;
  margin-right: 44px;
  margin-top: 30px;
}

.about__text {
  width: 500px;
  margin-top: 3px;
  line-height: 27px;
  margin-bottom: 31px;
}

.about__text:last-of-type {
  margin-bottom: 0;
}

.about__quote {
  width: 460px;
  text-transform: uppercase;
  margin-top: 58px;
  font-size: 43.8px;
  margin-left: 32px;
}

.about__marks {
  font-weight: 900;
  color: var(--main-btn);
  font-size: 43px;
}

.about__marks-1 {
  position: absolute;
  top: 45.5%;
}

.about__marks-2 {
  position: absolute;
  bottom: 19.5%;
  right: 9.4%;
}

.about__author-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 0 -9px;
  margin-right: 31px;
}

.about__designation {
  text-transform: uppercase;
}

.about__author-text {
  line-height: 28px;
}

@media (max-width: 1024px) {
  .about {
    padding-top: 68px;
    padding-bottom: 40px;
  }

  .about__block {
    justify-content: space-between;
  }

  .about__title {
    margin-bottom: 26px;
  }

  .about__text {
    width: 444px;
    font-size: 18px;
    margin-top: 0px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .about__block-text {
    width: 446px;
  }

  .about__quote {
    font-size: 30px;
  }

  .about__block-img {
    margin-right: 0px;
    width: 420px;
  }

  .about__marks-1 {
    font-size: 31px;
    top: 49%;
    right: 47.5%;
  }

  .about__quote-br {
    display: none;
  }

  .about__quote {
    margin-left: 25px;
    line-height: 36px;
    margin-top: 39px;
    width: 400px;
  }

  .about__marks-2 {
    bottom: 26%;
    right: 19.5%;
    font-size: 31px;
  }

  .about__author {
    margin-right: 17px;
    margin-top: 20px;
    font-size: 18px;
  }

  .about__author-text {
    line-height: 26px;
  }

  .about__author-img {
    width: 70px;
    height: 70px;
    margin-right: 35px;
    margin-top: 6px;
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 59px;
    padding-bottom: 29px;
  }

  .about__block-img {
    width: 383px;
    margin-top: 2px;
  }

  .about__block-text {
    width: 278px;
  }

  .about__text {
    width: 280px;
    font-size: 16px;
    margin-top: 71px;
    line-height: 22px;
    margin-bottom: 22px;
  }

  .about__text-mt {
    margin-top: 0;
  }

  .about-br {
    display: none;
  }

  .about__txt-1 {
    display: none;
  }

  .about__txt-2 {
    display: block;
  }

  .about__quote {
    margin-left: 22px;
    line-height: 36px;
    margin-top: 42px;
    width: 530px;
    font-size: 32px;
  }

  .about__marks-1 {
    font-size: 31px;
    top: 69%;
    right: auto;
  }

  .about__marks-2 {
    bottom: 17.2%;
    right: 18%;
    font-size: 31px;
  }

  .about__author {
    margin-right: -291px;
    margin-top: 24px;
    font-size: 18px;
  }

  .about__author-img {
    width: 70px;
    height: 70px;
    margin-right: 26px;
    margin-top: 6px;
  }
}
