.about {
  padding-bottom: 100px;
}

.about__block {
  display: flex;
}

.about__block-img {
  margin-right: 80px;
}

.about__img {
  width: 600px;
  height: auto;
}

.about__author {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-top: 39px;
}

.about__text {
  width: 500px;
  margin-bottom: 48px;
}

.about__quote {
  width: 500px;
  text-transform: uppercase;
  font-size: 44px;
}

.about__marks {
  font-weight: 900;
  color: #6c0287;
}

.about__author-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 0 -9px;
  margin-right: 40px;
}

.about__designation {
  text-transform: uppercase;
}