.about {
  padding-top: 99px;
  padding-bottom: 50px;
}

.about__title {
  margin-bottom: 45px;
}

.about__block {
  display: flex;
  position: relative;
}

.about__block-img {
  margin-right: 80px;
}

.about__img {
  width: 600px;
  height: auto;
}

.about__author {
  display: flex;
  justify-content: flex-end;
  margin-right: 44px;
  margin-top: 30px;
}

.about__text {
  width: 500px;
  margin-top: 3px;
  line-height: 27px;
  margin-bottom: 31px;
}

.about__text:last-of-type {
  margin-bottom: 0;
}

.about__quote {
  width: 460px;
  text-transform: uppercase;
  margin-top: 58px;
  font-size: 43.8px;
  margin-left: 32px;
}

.about__marks {
  font-weight: 900;
  color: var(--main-btn);
  font-size: 43px;
}

.about__marks-1 {
  position: absolute;
  top: 45.5%;
}

.about__marks-2 {
  position: absolute;
  bottom: 19.5%;
  right: 9.4%;
}

.about__author-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 0 -9px;
  margin-right: 31px;
}

.about__designation {
  text-transform: uppercase;
}

.about__author-text {
  line-height: 28px;
}