.booking {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #440f51;
}

.booking__title {
  margin-bottom: 40px;
}

.booking__block-1,
.booking__block-2 {
  margin-bottom: 60px;
}

.booking__block-3 {
  margin-bottom: 30px;
}

.booking__subtitle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.booking__block-btn {
  display: flex;
  justify-content: space-between;
}

.booking__btn {
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 700;
  font-size: 30px;
  padding: 7px 15px;
  border-radius: 8px;
}

.booking__appearance {
  display: flex;
  justify-content: space-around;
}

.booking__item-radio,
.booking__item-checkbox {
  display: flex;
  margin-bottom: 20px;
}

.booking__item-radio:last-child {
  margin-bottom: 0;
}

.booking__item-checkbox:last-child {
  margin-bottom: 0;
}

.booking__item-choice {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.booking__item-check {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.booking__info-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.booking__info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.booking__info-txt {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 6px;
}

.booking__info-inp {
  width: 300px;
  height: 52px;
  padding-left: 15px;
}



.booking__info-component {
  display: flex;
  justify-content: space-between;
  width: 296px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.booking__info-item-mt {
  margin-top: 18px;
}

.booking__from-button {
  display: block;
  text-align: right;
  margin-right: 3.9%;
}

.booking__from-btn {
  color: #6c0287;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  padding: 16px 50px;
  border-radius: 10px;
}

.booking__info-date {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.booking__info-date + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.booking__info-date + label::before {
  content: "Дата";
  display: inline-block;
  width: 134px;
  height: 52px;
  flex-shrink: 0;
  flex-grow: 0;
  color: #211e1e;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 12px 20px;
}

.booking__date-label {
  position: relative;
}

.booking__info-date + label::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 15px solid #211e1e;
  position: absolute;
  right: 30px;
}

.booking__info-time {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.booking__info-time + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.booking__info-time + label::before {
  content: "Время";
  display: inline-block;
  width: 134px;
  height: 52px;
  flex-shrink: 0;
  flex-grow: 0;
  color: #211e1e;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 12px 20px;
}

.booking__date-label {
  position: relative;
}

.booking__info-time + label::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 15px solid #211e1e;
  position: absolute;
  right: 27px;
}

.booking__info-human {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.booking__info-human + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.booking__info-human + label::before {
  content: "Сколько человек";
  display: inline-block;
  width: 300px;
  height: 52px;
  flex-shrink: 0;
  flex-grow: 0;
  color: #211e1e;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 12px 20px;
}

.booking__human-label {
  position: relative;
}

.booking__info-human + label::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 15px solid #211e1e;
  position: absolute;
  right: 27px;
}