.footer {
  padding-top: 50px;
  padding-bottom: 10px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 156px;
}

.footer__address {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.footer__map {
  margin-right: 31px;
}

.footer__tube {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer__phone {
  margin-right: 25px;
}

.footer__mail {
  display: flex;
  align-items: center;
}

.footer__email {
  margin-right: 25px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 35px;
}

.footer__copy {
  display: flex;
  justify-content: space-between;
}

.footer__copy-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__copy-link {
  margin-bottom: 6px;
}

.footer__copy-link:last-child {
  margin-bottom: 0;
}

.footer__social-effect:hover {
  fill: #eadeed;
}

.footer__social-effect:active {
  fill: #cd06ff;
}

.footer__social-link:focus {
  outline: 1px solid #cd06FF;
}
