.halls {
  padding-top: 50px;
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 44px;
}

.halls__element {
  width: 580px;
  height: 349px;
  display: block;
  padding: 94px 164px;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  background-size: contain;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.halls__item {
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: 1s;
}

.halls__item:not(:nth-child(-1n + 2)) {
  margin-bottom: 0;
}

.halls__element-image1 {
  background-image: url(../img/80s_vibes.jpg);
}

.halls__element-image2 {
  background-image: url(../img/star_wars.jpg);
  padding: 94px 141px 94px 153px;
}

.halls__element-image3 {
  background-image: url(../img/wild_west.jpg);
}

.halls__element-image4 {
  background-image: url(../img/neon_style.jpg);
}

@media (max-width: 1024px) {
  .halls {
    padding-top: 29px;
    padding-bottom: 70px;
  }

  .halls__title {
    margin-bottom: 35px;
  }

  .halls__element {
    background-size: 443px 267px;
    width: 443px;
    height: 267px;
    font-size: 50px;
    padding: 73px 111px;
    line-height: 59px;
  }
}

@media (max-width: 768px) {
  .halls {
    padding-bottom: 64px;
  }

  .halls__title {
    margin-bottom: 34px;
  }

  .halls__item {
    margin-bottom: 16px;
  }

  .halls__element {
    background-size: 334px 200px;
    width: 334px;
    height: 200px;
    font-size: 39px;
    padding: 63px 88px 33px 90px;
    line-height: 50px;
  }

  .halls__element-image2 {
    padding: 61px 89px 33px 90px;
  }

  .halls__element-image4 {
    background-position-y: 2px;
    background-repeat: no-repeat;
  }
}
