.halls {
  padding-bottom: 50px;
}

.halls__element {
  display: block;
  width: 1180px;
  height: 710px;
  display: block;
  padding-top: 25%;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 60px;
}

.halls__element-image1 {
  background-image: url(../img/80s_vibes.jpg);
}

.halls__element-image2 {
  background-image: url(../img/star_wars.jpg);
}

.halls__element-image3 {
  background-image: url(../img/wild_west.jpg);
}

.halls__element-image4 {
  background-image: url(../img/neon_style.jpg);
}
