.header {
  padding-top: 29px;
  padding-bottom: 50px;
}

.header-size {
  height: 1026px;
}

.header__title {
  text-align: left;
  margin: 0;
  font-weight: 900;
  font-size: 150px;
  position: relative;
  line-height: 125px;
  letter-spacing: -15px;
  margin-bottom: 22px;
}

.header__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 49px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  width: 675px;
  height: 762px;
  z-index: 1;
}

.header__subtitle {
  font-size: 28px;
  padding-left: 100px;
  margin-bottom: 37px;
}

.nav {
  margin-bottom: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__svg {
  width: 120px;
  height: 66px;
}

.nav__svg-lr {
  display: none;
}

.nav-size {
  margin-bottom: 10.5px;
}

.nav__menu {
  min-width: 586px;
  margin-bottom: -3px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.nav__link {
  border: 3px solid var(--main-extension);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.7s, 0.7s;
  transition-property: background-color, border;
  text-transform: uppercase;
  padding: 14px 28px 14px 29px;
  margin-bottom: -7px;
  letter-spacing: 0.8px;
  font-size: 22px;
}

.nav__link:hover,
.nav__link:focus {
  background-color: var(--main-btn);
  border: 3px solid var(--main-btn);
}

.nav__link:active {
  background-color: var(--main-bordering);
  border: 3px solid var(--nav-color);
}

.header__txt {
  display: flex;
  align-items: center;
  margin-bottom: 174px;
}

.header__txt-block {
  display: flex;
  flex-direction: column;
  width: 210px;
  text-align: center;
  margin-right: 17px;
  margin-left: -8px;
}

.header__txt-sub {
  font-weight: 900;
  color: var(--main-extension);
  font-size: 100px;
  line-height: 141.02px;
}

.header__txt-fs {
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 52px;
  line-height: 91px;
  letter-spacing: 4px;
  margin-left: 3px;
}

.header__txt-text {
  font-size: 30px;
}

.header__btn {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-btn);
  padding: 25px 69px;
  border-radius: 10px;
  box-shadow: 1px 0px 17px var(--main-btn);
  transition-duration: 0.7s;
  transition-property: background-color;
}

.header__btn:hover,
.header__btn:focus {
  background-color: var(--anim-color);
}

.header__btn:active {
  background-color: var(--main-bordering);
}

.header__down {
  display: flex;
  margin-top: -8px;
  margin-left: 45.7%;
  margin-right: 45.7%;
  outline: 1px solid transparent;
  background-image: url(../img/down.svg);
  width: 97px;
  height: 97px;
  position: relative;
  z-index: 99;
  transition-duration: 1s;
  transition-property: background-image;
}

.header__down:hover {
  background-image: url(../img/down-hover.svg);
}

.header__down:active {
  background-image: url(../img/down-active.svg);
}

.header__down:focus {
  outline: 1px solid var(--main-extension);
}

@media (max-width: 1024px) {
  .nav {
    margin-bottom: 29px;
  }

  .nav__svg {
    display: none;
  }

  .nav__svg-lr {
    display: block;
  }

  .nav__menu {
    min-width: 429px;
    margin-bottom: 3px;
  }

  .nav__menu-item {
    font-size: 18px;
  }

  .nav__link {
    padding: 11px 26px 9px 24px;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 0;
  }

  .header-size {
    height: 747px;
  }

  .header__title {
    font-size: 121px;
    letter-spacing: -13px;
    margin-bottom: 19px;
  }

  .header__title::after {
    background-size: 457px 520px;
    width: 457px;
    height: 520px;
    top: 64px;
  }

  .header__subtitle {
    font-size: 22px;
    letter-spacing: -0.1px;
    margin-bottom: 30px;
  }

  .header__txt {
    margin-bottom: 98px;
  }

  .header__txt-block {
    width: 182px;
  }

  .header__txt-sub {
    font-size: 80px;
    line-height: 117.02px;
  }

  .header__txt-text {
    font-size: 26px;
    margin-left: 1px;
  }

  .header__txt-fs {
    font-size: 46px;
    margin-top: 43px;
    letter-spacing: 4px;
    margin-left: 9px;
    line-height: 71.02px;
  }

  .header__btn {
    font-size: 22px;
    padding: 19px 49px 19px 49px;
    margin-left: 37px;
  }

  .header__down {
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -28px;
    margin-left: 46%;
    margin-right: 49.7%;
    width: 67px;
    height: 67px;
  }
}
