.problem {
  padding-top: 70px;
  padding-bottom: 72px;
  background: url(../img/problem-img.jpeg);
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
  position: relative;
  color: var(--main-text-1);
}

.problem:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(47, 50, 75, 0.85);
  z-index: 1;
}

.problem-block {
  position: relative;
  z-index: 10;
}

.problem__title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 18px;
  margin-left: -24px;
}

.problem__subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  color: var(--problem-subtitle);
  margin-bottom: 50px;
}

.problem__from {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem__input {
  outline: none;
  padding: 9px 25px;
  background-color: transparent;
  border: 1.38px solid var(--main-text-1);
  border-radius: 50px;
  color: var(--main-text-1);
  margin-bottom: 19px;
  width: 423px;
  height: 46px;
}

.problem__input-email {
  margin-bottom: 0;
}

.problem__input:focus {
  border: 1.38px solid var(--hover);
}

.problem__btn {
  margin-top: 49px;
  padding: 12px 38px;
  margin-bottom: 51px;
}

.problem__btn:hover {
  background-color: var(--hover);
}

.problem__btn:active {
  background-color: var(--active);
}

.problem__mark {
  font-size: 20px;
}

.problem__mark-style {
  z-index: 10;
  position: relative;
  color: var(--mark-style);
  border-bottom: 1px solid var(--mark-style);
  cursor: pointer;
}

.problem__mark-style:hover,
.problem__mark-style:hover {
  color: var(--hover);
}

.problem__mark-style:active,
.problem__mark-style:active {
  color: var(--active);
}

::-webkit-input-placeholder {
  color: var(--line);
}

@media (max-width: 1280px) {
  .problem {
    background-size: cover;
  }
}

@media (max-width: 1024px) {
  .problem {
    padding-top: 71px;
    padding-bottom: 57px;
  }

  .problem__title {
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: -7px;
  }

  .problem__subtitle {
    font-size: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 48px;
  }

  .problem__subtitle::before {
    content: "";
    margin-left: 16px;
  }

  .problem__input {
    width: 380px;
    height: 40px;
    font-size: 20px;
    padding: 8px 24px;
    margin-left: -2px;
  }

  .problem__input-email {
    font-size: 19px;
    padding: 8px 23.5px;
  }

  .problem__btn {
    margin-top: 50px;
    margin-bottom: 32px;
  }

  .problem__mark {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .problem__subtitle {
    font-size: 18px;
  }

  .problem__mark {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .problem__title {
    font-size: 30px;
  }

  .problem__subtitle {
    font-size: 14px;
    width: 350px;
    margin-bottom: 43px;
  }

  .problem__input {
    width: 330px;
    font-size: 16px;
  }

  .problem__btn {
    font-size: 18px;
    padding: 10px 34px;
  }

  .problem__mark {
    text-align: center;
    font-size: 13px;
  }
}

/* @media (min-width: 320px) and (max-width: 480px) {
  
}*/
