.product {
  max-width: 580px;
  max-height: auto;
  text-transform: uppercase;
  margin: 0 auto;
  color: #6E6893;
  margin-top: 32px;
}

.product__title {
  margin-bottom: 43px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 700;
}

.product__form {
  margin-bottom: 32px;
  padding: 28px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
}

.product__case {
  display: flex;
  flex-direction: column;
}

.product__text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 5px;
}

.product__text:not(:first-child) {
  margin-top: 12px;
}

.product__inp {
  background-color: #F4F2FF;
  border: none;
  border-radius: 8px;
  width: 494px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  color: #6e486c;
}

.product__inp-size {
  width: 435px;
}

.product__inp-area {
  padding-top: 15px;
  min-height: 112px;
}

.product__inp:focus {
  outline: none;
  margin: -1px;
  border: 1px solid #ccc;
}

.product__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.product__check:checked + label::before {
  border-color: #F4F2FF;
  background-color: #F4F2FF;
  background-image: url("../img/icon.svg");
}
.product__check + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.product__check + label::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 8px;
  background-color: #F4F2FF;
  background-repeat: no-repeat;
  background-position: center center;
}

.product__check-block {
  display: flex;
  justify-content: space-between;
  width: 495px;
}

.product__button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 10px 25px;
  background-color: #6D5BD0;
  border-radius: 6px;
  margin-bottom: 28px;
  margin-left: 61%;
}