* {
  box-sizing: border-box;
}

body {
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.quote {
  text-transform: uppercase;
}

.wrapper {
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
}

.questions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.questions-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.questions-item:nth-child(2n) {
  background-color: #440F51;
  color: #ffffff;
}

.questions-basic::after {
  content: "";
  display: flex;
  width: 46px;
  height: 46px;
  background-image: url(../img/open-purple.svg);
}

.questions-second::after {
  content: "";
  display: flex;
  width: 46px;
  height: 46px;
  background-image: url(../img/open.svg);
}