* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.wrapper {
  width: 1240px;
  padding: 30px;
  margin: 0 auto;
}

p, 
h1, 
h2, 
h3 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 60px;
}