.left-arrow {
  display: inline-flex;
  position: relative;
  width: 29px;
  height: 13px;
  cursor: pointer;
}

.left-arrow::before,
.left-arrow::after {
  display: inline-flex;
  position: absolute;
  content: "";
}

.left-arrow::before {
  top: 8px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #2D2D2D;
}

.left-arrow::after {
  width: 7px;
  height: 7px;
  top: 4.7px;
}

.left-arrow::after {
  left: 0;
  border-top: 3px solid #2D2D2D;
  border-left: 3px solid #2D2D2D;
  transform: rotate(-45deg);
}

.left-arrow:hover::before {
  background-color: black;
}

.left-arrow:hover::after {
  border-top: 3px solid black;
  border-left: 3px solid black;
}
