:root {
  --main-txt-color: #ffffff;
  --main-background: #1b1a1b;
  --main-extension: #cd06ff;
  --main-fon: #440f51;
  --main-bordering: #640aa3;
  --main-btn: #6c0287;
  --btn-color: #eadeed;
  --arrow-color: #211e1e;
  --faq-color: #1c1a1a;
  --anim-color: #840aa3;
  --nav-color: #000000;
  --line-color: #370A37;
}
