:root {
  --main-text: #2D2D2D;
  --element-color: #3670C7;
  --main-colors: #FFFFFF;
  --inp-colops: #EFEFEF;
  --placeholder-colors: #8F8F8F;
  --circle-colors: #FFBD13;
  --fon-colops: #38C0EB;
  --new-text: #F91155;
  --fon-laptor: #000000
}